@charset "utf-8";
label {
    display:block;
    margin-top:5px;
    letter-spacing:1px;
}
.formulario {
    display:block;
    margin:0 auto;
    width:510px;
    color:#000000;
    font-family:Arial;
}
form {
    margin:0 auto;
    width:400px;
}
 
input, textarea {
    width:300px;
    height:27px;
    background:#666666;
    border:2px solid #f6f6f6;
    padding:10px;
    margin-top:0px;
    font-size:15px;
    color:#ffffff;
}
 
textarea {
    height:100px;
}
 
#submit {
	width:100px; 
	height:27px; 
	line-height: 3px; 
	background:#666666; 
	border:2px solid #f6f6f6; 
	padding:15px; 
	font-size:15px; 
	color:#ffffff;
}